<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Node</title>
    
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
    
    <div class="container">
        <div class="card text-center mt-5">
            <div class="card-body">
                <h1><span class="fa fa-lock"></span>Login o Registro</h1>
                <a href="/login" class="btn btn-light">
                <span class="fa fa-user"></span>Local Login
                </a>
                <a href="/signup" class="btn btn-light" >
                    <span class="fa fa-user"></span> Local Signup
                </a>
            </div>

        </div>
    </div>
    
</body>
</html>
